*{
    margin: 0;
    padding: 0;
    /* font-size: 24px; */
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    
}
/* classe per centrare il contenuto */
.container{
    max-width: 1270px;
    margin: 0 auto;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 24px;
}

/* inizio header  */
header{
    background-color: #255ee9;
}
/* inizio nav */
.flexnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
nav{
    display: block;
}
/* zona link */
header nav ul{
    min-width: 350px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav li{
    /* display: inline; */
    list-style: none;
    color: white;
    font-size: 20px;
}
/* per tutte le ancore si toglie la sottolineatura */
a{
    text-decoration: none;
    color: white;
}
/* section hero */
section.hero{
    background-image: url("../img/jumbo.png");
    height: 530px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
}
section.hero>div{
    min-height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
}
section.hero div h1, section.hero div div{
    padding: 20px;
}
section.hero div p{
    padding: 20px;
    text-align: center;
    max-width: 900px;
}
/* inizio main  */
main div section.flexsection{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 150px 0;
}
main div section div{
    padding-left: 150px;
    padding-top: 30px;
}
main div section div p{
    padding-top: 40px;
}
.flexsection2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 150px 0;
}
section.finale{
    text-align: center;
    padding-bottom: 80px ;
}
.finale div{
    padding: 20px 0;
}
.finale div img{
    margin-bottom: -20px;
}
.finale div h3{
    margin-bottom: 40px ;
}
.biancoscuro{
    background-color: #f6f6f6;
}
/* inizio footer */
footer{
    background-color: #23272a;
    color: #f6f6f6;
}
.inizio section span img{
    width: 20px;
}
.inizio.flexfooter{
    display: flex;
    flex-direction: row;

}
nav div{
    padding: 50px;
}
nav div img{
    width: 15px;
}
nav a i{
    color: white;
    padding: 15px 15px 0 0;
    font-size: 24px;
}
nav ul{
    color:#8ea1e1;
    padding: 35px;
}
nav ul li{
    color: #f6f6f6;
    list-style: none;
    padding-top: 10px;
}
hr{
    color: #8ea1e1;
}
.fine.flexfooter{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
/* bottoni */
.btn{
    font-size: 24px;
    border-radius: 25px;
    padding: 16px 32px;
}
.btn.accedi{
    font-size: 20px;
    padding: 7px 16px;
    background-color: white;
    color: black;
}
.btn.bianco{
    background-color: white;
    color: black;
}
.btn.nero{
    background-color: black;
    color: white;
}
.btn.viola{
    background-color: #8ea1e1;
    color: white;
}
.registrati{
    padding: 7px 16px;
}
